
@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

<h1>Página Principal de Administración</h1>

<h2>¿Te gustan los perros? !Descubre más sobre ellos aquí!</h2>

<p>En este espacio, podrás conocer más y proporcionar información en caso de que algo falte.</p>


